.item-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 20px;
  grid-gap: 20px;
  overflow: hidden;
}

.card {
  background-color: #1c1b29;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
  border-radius: 20px !important;
  overflow: hidden;
  max-width: 300px;
  margin: 0 auto !important;
  transition: 0.5s;
}

.card img {
  width: 100%;
  height: 200px;
  display: block;
  object-fit: cover;
  object-position: center;
  transition: 0.3s ease-in-out;
}

.containers {
  position: relative;
}

.details {
  padding: 20px 20px;
}
.details > h3 {
  color: #000;
  font-weight: 600;
  font-size: 18px;
}
.details > p {
  color: #000;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 0;
}
.containers:after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px 20px 0 0;
  opacity: 0.3;
}
.containers:after {
  background-image: linear-gradient(135deg, #009dae, #fff);
}

.card img:hover {
  transform: scale(1.3);
}

.details h3 {
  text-align: center;
  text-transform: capitalize;
  font-size: 24px;
}

.deskripsi-card {
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  color: #a0a0a0;
  min-height: 90px;
}
.categories-card p {
  font-size: 18px;
  font-weight: 500;
}

.categories-card {
  background-color: #ffe652;
  width: 150px;
  margin-top: 10px;
  padding: 5px 10px 2px;
  border-bottom-right-radius: 30px;
}

.location-card {
  margin-top: 20px;
}

.item-card a {
  text-decoration: none !important;
  color: #000;
}

.item-card a :hover {
  color: #000;
}

.item-card {
  width: 100%;
}

.card:hover {
  transform: translateY(-10px);
}
