.modal-box {
  display: none;
  position: fixed;
  padding: 40px;
  left: 0;
  top: 0;
  z-index: 1;
  height: 100%;
  overflow: auto;
  width: 100%;
  background-color: rgb(0, 0, 1);
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-box Form {
  max-width: 500px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin: auto !important;
}

.btn-cancel {
  margin-left: 10px;
  border-radius: 10px !important;
}

.btn-cancelUser {
  margin-top: 10px;
  height: 50px;
  width: 100%;
}

.dasboard-admin {
  padding: 0px 20px;
  min-height: 100vh;
}

table {
  background-color: #fff;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  text-align: center;
}

.tabelUser,
.tabelUMKM {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
  padding: 30px;
  border-radius: 20px;
  overflow: scroll;
}

.tabelUMKM {
  margin-top: 50px;
}

.title-admin {
  text-align: center;
  font-size: 1.6rem;
  margin-top: 100px;
  margin-bottom: 30px;
}

.btn-admin {
  margin: 10px;
  width: 100px;
}

.modal-box {
  text-align: start;
}
