.hero {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  height: calc(100vh - 86px);
  margin-bottom: 70px;
}

.text {
  width: 100%;
  order: 2;
  margin-top: 70px;
  padding: 0px 15px;
}
.images {
  width: 100%;
  order: 1;
  display: flex;
  justify-content: center;
}

.image-hero {
  width: 80%;
}

.text h1 {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 1.3rem;
}

.text h1 span,
.title-content h2 span,
span {
  color: #009dae;
}

.text p {
  text-align: justify;
}

.btn-hero {
  width: 180px;
  height: 44px;
  border-radius: 10px;
  color: #ffff;
  background-color: #009dae;
  border: none;
}

.link-login {
  color: #000;
  text-decoration: none;
}

.blob {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: -99;
  width: 90%;
}
.images {
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 800px) {
  .blob {
    width: 40%;
  }
}

@media only screen and (min-width: 1000px) {
  .hero {
    flex-direction: row;
    margin-top: 0;
  }
  .text {
    order: 1;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 0px 15px;
  }
  .images {
    order: 2;
    width: 50%;
  }

  .text h1 {
    font-size: 2rem;
  }
  .blob {
    width: 35%;
  }
}
