.btn-submit-register{
  width: 100%;
  max-width: 600px;
  background-color: #009dae !important;
  border-color: #009dae !important;
  height: 50px;
  margin-top: 10px !important;
}

.have_acc {
  font-size: 14px;
  margin-top: 16px;
  text-align: center;
}

.link-to-login {
  text-decoration: none;
  color: #009dae;
  font-weight: 500;
}

.link-to-login:hover {
  color: #009dae;
}