.wrap-content-detail {
  display: flex;
  flex-direction: column;
}

.image-detail {
  width: 100%;
}

.info-umkm {
  width: 100%;
}
.image-detail-umkm {
  width: 100%;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #fff;
}

.title-umkm {
  text-align: center;
  margin-bottom: 20px;
}
.title-umkm h1 {
  font-weight: 520;
  font-size: 1.6rem;
}
.wrap-content-detail h3 {
  text-align: left;
}

.title-umkm h1,
.icon-map {
  color: #009dae;
}

.title-umkm h2 {
  font-style: italic;
  font-size: 1.3rem;
  color: #a0a0a0;
  font-weight: lighter;
}

.content-detail {
  margin-top: 70px;
  min-height: 700px;
}

.umkm-title {
  padding-top: 0px;
}
.info-icon {
  margin-top: 20px;
}
.info-icon,
.desc {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  border-radius: 20px;
  background-color: #fff;
}

.desc {
  margin-top: 20px;
}

.desc h3 {
  font-size: 1.2rem;
  padding: 5px 20px;
  width: 150px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #ffe652;
  text-align: center;
}

.desc p {
  font-size: 1rem;
}

.kategori-icon {
  padding: 5px 20px;
  width: 200px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #ffe652;
  margin: 30px 0px;
  font-size: 1.3rem;
  text-align: center;
}

.icon {
  width: 30px;
}
.icon-text {
  padding-left: 10px;
  font-size: 1.2rem;
}
@media only screen and (min-width: 600px) {
  .wrap-content-detail {
    display: flex;
    flex-direction: row;
  }
  .info-umkm {
    width: 50%;
    padding-left: 20px;
  }
  .image-detail {
    width: 50%;
  }
  .info-icon {
    margin-top: 0;
  }
}

@media only screen and (min-width: 800px) {
}

@media only screen and (min-width: 1000px) {
}
