.item-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.title-content h2 {
  text-align: center;
  font-weight: 600;
}

.detail-text p {
  background-color: #ffe652;
  color: #009dae;
  font-weight: bold;
  width: 200px;
  text-align: center;
  padding: 10px 0;
  margin-top: 30px;
}
.detail-text {
  justify-content: center;
  transition: 0.5s ease-in-out;
}

.detail-text:hover {
  transform: translateX(20px);
}

/* ================== Revirw ==================*/
.title-review {
  text-align: center;
}

.review {
  background-color: #c2fff9;
  padding-bottom: 30px;
}

.item-review {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  gap: 40px;
}

.item-card-review {
  width: 300px;
  margin: 5px;
}

/* ================== Akhir Revirw ==================*/
@media only screen and (min-width: 600px) {
  .content-umkm {
    min-height: 100vh;
  }
  .review {
    min-height: 100vh;
    padding-bottom: 30px;
  }
}

@media only screen and (min-width: 800px) {
}

@media only screen and (min-width: 1000px) {
}
